
/*The body should have padding and margin*/
body { 
	padding: 1%;
	margin: 0.5%;
	 }

/*The header should have a background color, background image (using a local image), and padding*/
header { 
	background-color: #B3B3B3;
	background-image: url('../images/flywheel.jpg');
	background-position: 0% 0%;
	padding: 1% 1% 3% 2%;
	background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 2000%;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-variant: small-caps;
	font-size: 36px;
	font-family: "Times New Roman", Times, serif;
}

h2 {
	font-variant: small-caps;
	font-size: 28px;
	font-family: "Times New Roman", Times, serif;
}


/*The sections should be next to each other, not one on top of the other.*/
.left{
	display: inline-block;
	background-color: #6b8e23;
	padding:15px;
	height: 100vh;
	width: 14%;
	float: left;
	margin-right: 1%;
}
.right{
 	display: inline-block;
	width: 75%;
	padding: 1%;
	font-family: Arial, Helvetica, sans-serif;    
	text-align: justify;
}

aside {
	display: block;
}

section{
	display: block;
}

/*The images should be part of the page now. In addition, they should have a border, be centered 
  horizontally, and have vertical (top/bottom) space between them and the other images.*/
img {
	width: 80%;
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px ;
	margin-bottom: 10px;
	border: solid;
	border-color: #000000;
}

/*The navigation links (and only the links in the navigation) should be styled 
  with a new display, margin, border-radius, text-decoration, and padding*/
nav {
    text-align: center;
}

nav a {
    display: inline-block;
    color: #000000;
    background: #abaaa99e;
    width: 150px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin:10px;  
    margin-top: 20px;
    border-radius: 10px;
}

/*When mouse hovers over link*/
nav a:hover{  
    background: #6f6f6f;
    color: #ffffff;
}

/*When user tabs to this link*/
nav a:focus{ 
    background: #6f6f6f;
    color: #ffffff;
}

/*The link to the current page should be styled differently from the other links (using class = "active')*/
.active{ 
    background: #ffffffae;
    color: #000000;
}


/*FINAL PROJECT*/
/*------------------------------------------------------------------------------------------------------------------*/


/*The table should be styled using at least four properties*/
table{
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 16px;
	font-weight: normal;
	line-height: 150%;
	width: 80%;
	margin: 0 auto;
}

/*The table headings should have a border, background color, and at least one other property*/
th{
	background-color: #6b8e23;
	border-radius: 5px 5px 0 0;
	border: 1px solid #566732;
	border-bottom-width: thick;
	color:#ffffff;
	font-size: 120%;
	text-transform: uppercase;
	padding: 8px;
}


/*Style the table so that the text in the first column is left-aligned and the text in the 
  other two columns is centered*/
table{
	text-align: center;
}

th:first-child{
	text-align: left;
}

td:first-child{
	text-align: left;
}

/*Set the opacity of the table rows to a value between .6 and .8 (make sure it is still visible)*/
tr{
	opacity: 0.7;
}

/*Change the opacity of a row when it is hovered over*/
tr:hover{
	opacity: 1;
}


/*The table elements < td > should be styled using at least four properties*/
td{
	padding: 5px;
	color: #000000;
	border-radius: 2px;
	background: #e6f9be;
}















